* {
	margin: 5%;
	padding: 0;
}

body {
	font-size: 65%;
	font-family: Helvetica, sans-serif;
	background: url(bg.png);

}


#page-wrap {
	width: 700px;
	background: white;
	padding: 70px 50px 20px 20px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.7em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

.submit-button {
	border-radius: 4px;
	background-color: white;
	border: none;
	color: black;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
  }
  
  .submit-button:hover {
	background-color: grey;
	color: white;
  }

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.7em;
}
